apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: api-tls
  namespace: kv
spec:
  secretName: api-tls
  issuerRef:
    name: letsencrypt-prod
    kind: ClusterIssuer
  dnsNames:
    - a3store.mooo.com